<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    {{{body}}}
    
    <script src="/BootstrapJs"></script>
</body>
</html>
